# PyQt5 (Auf Raspberry Pi besser via: sudo apt install python3-pyqt5)
# Die Installation via pip schlägt auf ARM oft fehl, da qmake fehlt.
# PyQt5
# PyQt5-Qt5
# PyQt5_sip

easyocr
numpy
opencv-python-headless
pytesseract
